body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 20px;
}

h1 {
    text-align: center;
    color: white;
}

h1 > a, h1 > a:visited, h1 > a:link {
    color: #f1f0e9;
    text-decoration: none;
}

.footer {
    text-align: center;
    color: #888;
    margin-top: 20px;
    font-size: 8pt;
}

.footer a {
    color: #888;
    font-weight: bold;
    text-decoration: underline;
}

.feed-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1200px) {
    .feed-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

@media (max-width: 850px) {
    .feed-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
}

@media (max-width: 529px) {
    .feed-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }
}

.feed-element {
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #181717;
    color: white;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    width: 240px;
    font-size: 10pt;
}

.feed-element a, .feed-element a:visited {
    color: #e5cc10;
    text-decoration: none;
}

.feed-element a.oneliner {
    color: white;
}

.feed-element-image {
    width:240px;
    height:160px;
    vertical-align:middle;
    margin-bottom:5px;
}